In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.shape

(10000, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [8]:
data['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Geography']=le.fit_transform(data['Geography'])
data['Gender']=le.fit_transform(data['Gender'])

In [10]:
data['Geography'].value_counts()

0    5014
1    2509
2    2477
Name: Geography, dtype: int64

In [11]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [12]:
x=data.iloc[:,3:13]

In [13]:
y=data.iloc[:,13:]

In [14]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [15]:
y

      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
x.shape

(10000, 10)

In [18]:
y.shape

(10000, 1)

In [19]:
x_train.shape
x_test.shape
y_train.shape
y_test.shape

(2000, 1)

In [20]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
x_train=scale.fit_transform(x_train)
x_test=scale.transform(x_test)

In [21]:
x_train

array([[ 0.16958176,  1.51919821, -1.09168714, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-2.30455945,  0.3131264 ,  0.91601335, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-1.19119591, -0.89294542, -1.09168714, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.9015152 , -0.89294542,  0.91601335, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.62420521,  1.51919821, -1.09168714, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-0.28401079,  0.3131264 , -1.09168714, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [22]:
x_test

array([[-0.55204276,  0.3131264 , -1.09168714, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [-1.31490297, -0.89294542, -1.09168714, ...,  0.64259497,
        -1.03227043,  0.49587037],
       [ 0.57162971,  1.51919821, -1.09168714, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-0.74791227,  1.51919821,  0.91601335, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [-0.00566991,  0.3131264 ,  0.91601335, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [-0.79945688,  0.3131264 ,  0.91601335, ...,  0.64259497,
        -1.03227043,  1.61255917]])

In [23]:
import tensorflow as tf

In [24]:
import keras as ks

In [25]:
from keras.models import Sequential
from keras.layers import Dense

In [26]:
Model=Sequential()

In [27]:
Model.add(Dense(units=10, kernel_initializer='random_uniform', activation='relu'))

In [28]:
Model.add(Dense(units=5, kernel_initializer='random_uniform', activation='relu'))

In [29]:
Model.add(Dense(units=5, kernel_initializer='random_uniform', activation='relu'))

In [30]:
Model.add(Dense(units=1, kernel_initializer='random_uniform', activation='sigmoid'))

In [31]:
Model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy']) #adam is stochastic gradient

In [32]:
Model.fit(x_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
250/250 [==============================] - 3s 4ms/step - loss: 0.5655 - accuracy: 0.7960
Epoch 2/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4386 - accuracy: 0.7960
Epoch 3/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4329 - accuracy: 0.7960
Epoch 4/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4296 - accuracy: 0.7960
Epoch 5/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4262 - accuracy: 0.7960
Epoch 6/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4236 - accuracy: 0.7999
Epoch 7/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4224 - accuracy: 0.8207
Epoch 8/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4207 - accuracy: 0.8244
Epoch 9/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4197 - accuracy: 0.8264
Epoch 10/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4184 - accuracy: 0.8275

In [33]:
ypred=Model.predict(x_test)

In [34]:
ypred

array([[0.19125316],
       [0.3336202 ],
       [0.2060371 ],
       ...,
       [0.26578042],
       [0.10366938],
       [0.10745001]], dtype=float32)

In [35]:
y_pred=ypred>0.5

In [36]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [37]:
x_test[0]

array([-0.55204276,  0.3131264 , -1.09168714, -0.36890377,  1.04473698,
        0.8793029 , -0.92159124,  0.64259497,  0.9687384 ,  1.61085707])

In [38]:
y_test[0]

KeyError: 0

In [39]:
predict>0.5

NameError: name 'predict' is not defined